
body {
    font-family: 'Microsoft YaHei';
}

.test {
    color: red;
}

.test1 {
    color: green;
}

.result {

    padding: 5px;

    &.complete {
        color: green;
    }
    
    &.error {
        color: red;
    }
    
    &.next {
        color: blue;
    }
}

